<div class="signup-container-header">
  <div class="signup-section1">
    <div class="signup-container-text">

      <div class="container-form" id="form-part1">
        <div class="special-form">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <h2 class='text-center mb-5'>Sign up</h2>
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email",
                        id: 'input_form' }
                        %>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password",
                        id: 'input_form' } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password",
                        id: 'input_form' } %>
            <%= f.input :name,
                        required: true,
                        input_html: { id: 'input_form' }%>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="sign-up-btn-duo">
  <div class="btn btn-flat-sign-up-next">
     <%= f.button :submit, 'Sign up' %>
     <% end %>
  </div>
  <div class="form-actions d-flex justify-content-around btn-form fixed-bottom"></div>
</div>
