<div class="signup-container-header">
  <div class="signup-section1">
    <div class="signup-container-text">

      <div class="container-form " id="form-part2">
        <div class="special-form">
          <%= simple_form_for @user, url: favorite_sports_url, method: :patch do |f| %>
          <h2 class='text-center mb-5'>Fill your profile</h2>
            <legend class="text-center-signup">Choose your favorite sports</legend>
          <div class="form-inputs sport-sign-up">
            <% categories = %w(yoga football boxe Running crossfit) %>
            <div class="category-choices ">
              <% categories.each do |category| %>
                <div class="input-circle">
                  <input class="hidden" aria-invalid="true" type="checkbox" value="<%= category %>" name="user[favorite_sports][]" id="user_favorite_sports_<%= category %>">
                  <label class="category-choice d-flex align-items-center justify-content-center" for="user_favorite_sports_<%= category %>"><%= category.capitalize %></label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="edit-btn-duo">
  <%= f.button :submit, "Validate", class: "btn btn-edit-validate" %>
</div>
<div class="form-actions d-flex justify-content-around btn-form fixed-bottom"></div>

<% end %>
