<%= simple_form_for @user, url: @url_params, method: :patch do |f| %>
<h2 class='text-center'>Fill your profile</h2>

<p class="text-center-signup">Choose your favorite sports</p>
<div class="signup-container-header pl-4 pr-4">
  <div class="signup-section1">
    <div class="signup-container-text">

      <div class="container-form " id="form-part2">
        <div class="special-form">
          <div class="form-inputs sport-sign-up">
            <div class="category-choices">
              <% User::SPORT_CATEGORIES.each do |category| %>
                <div class="input-circle js-category-choice-wrapper">
                  <input  class="hidden"
                          aria-invalid="true"
                          type="checkbox"
                          value="<%= category %>"
                          name="user[favorite_sports][]"
                          id="user_favorite_sports_<%= category %>"
                          <%= "checked" if @user.favorite_sports.include?(category) %>>
                  <label  class="category-choice d-flex align-items-center justify-content-center
                          <%= "active" if @user.favorite_sports.include?(category) %>"
                          for="user_favorite_sports_<%= category %>"
                          ><%= image_tag "#{category}.png", width: 50, height: 50 %>
                          <%= category.capitalize %></label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="edit-btn-duo">
  <%= f.button :submit, "Validate", class: "btn btn-edit-validate" %>
</div>
<div class="form-actions d-flex justify-content-around btn-form fixed-bottom"></div>

<% end %>
