<div class="profile">
  <h1 class='mt-5 text-center h1-profile'>Your profile</h1>
  <div class="card-profile">
    <div class="profile-part">
      <div class="profile-pict">
        <%= cl_image_tag current_user.photo , alt: "alttext", height: 170, width: 170, class: 'profile-picture ' %>
      </div>
      <div class="profile-pict pt-3">
      </div>
    </div>
    <div class="personnal-info-profile">
      <h2 class='text-center'>Your personnal info</h2>
      <div class='personnal-fields'>
        <div class="field d-flex">
          <p class='label'><strong>Name:</strong></p> <span><%= @name %></span>
        </div>
        <div class="field d-flex">
          <p class='label'><strong>Email:</strong></p> <span><%= @email %></span>
        </div>
        <div class="field d-flex">
          <p class='label'><strong>Address:</strong></p> <span><%= @address %></span>
        </div>
      </div>
    </div>
    <div class="button-update-box">
      <%= link_to 'Update my profile',  edit_profile_path, class:"button-update-profile" %>
    </div>
  </div>
</div>

