<h2 class="text-center mb-4">Log in</h2>
<div class="login-container-header pl-4 pr-4">
  <div class="login-section1">
    <div class="login-container-text">

      <div class="container-form">
        <div class="special-form">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs pt-4 pb-4">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email",
                          id: 'input_form',
                          class: '' } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password",
                            id: 'input_form',
                            class: 'mb-5' } %>
              <fieldset class="form-group boolean optional user_remember_me">
                <div class="form-check">
                  <input name="user[remember_me]" type="hidden" value="0" />
                  <input class="form-check-input boolean optional hidden" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
                  <label class="form-check-label boolean optional remember-signin pl-0" for="user_remember_me">Remember me</label>
                </div>
              </fieldset>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sign-in-btn-duo">
  <div class="btn-flat-signin-back">
    <%= link_to "Back", root_path, class:"btn btn-flat-sign-in-back" %>
  </div>
  <div class="btn-flat-signin-next">
    </div>
    <%= f.button :submit, "Validate", class:"btn btn-flat-sign-in-next" %>
  </div>
</div>
<% end %>
