<h2 class="h2_non_eteint">Your dashboard</h2>
<div class= "btn-box sports-box-activity">
  <%= link_to "Search a new activity", events_path, class:"btn btn-flat btn-flat-activity1" %>
</div>
<h2 class="h2_eteint">Next events</h2>
<div class="dashboard-section">
  <div class="user_activities">
    <!-- <i class="fas fa-chevron-left text-white"></i> -->
    <div class="slider-program">
      <% if @user_events.length > 0 %>
        <% @user_events.each do |event| %>

          <div class="container-event-dash">
            <div class="card-events-dash">
              <div class="event-dash">
                <div class="sport-event-card-dash">
                  <div class="sport-info-dash">
                    <h3><strong><%= event.event.sport.capitalize %></strong></h3>
                    <p><i class="far fa-calendar-alt"></i>  <%= event.event.start_at.to_date %></p>
                    <p><i class="far fa-clock"></i>  <%= event.event.start_at.strftime('%k') %>h</p>
                  </div>
                  <%= image_tag "#{event.event.sport}.png", class: 'sport-img-dash' %>
                </div>
              </div>
            </div>

            <div class="decription-event-dash">
              <div class="address-details-dash">
                <div class="event-address-dash">
                  <p><strong><%= event.event.address.capitalize %></strong></p>
                  <button class="font-map-dash js-selector" id="<%=event.id%>" data-toggle="modal" data-target="#myModal" data-position="<%= event.event.to_coordinates.to_json %>" data-name="<%= event.event.sport %>"><i class="fas fa-map-marker-alt"></i> On map</button>
                </div>
              </div>

              <div class="info-sport-event-dash">
                <div class="details-duration-dash">
                  <p><i class="fas fa-stopwatch"></i>  <%= event.event.duration %> min.</p>
                </div>
                <div class="details-level-dash">
                  <% if event.event.level == 1 %>
                    <%= image_tag "#{event.event.sport}.png", width: 20, height: 20 %>
                    <%= image_tag "#{event.event.sport}.png", width: 20, height: 20, class:"level-img-dash"%>
                    <%= image_tag "#{event.event.sport}.png", width: 20, height: 20, class:"level-img-dash" %>
                  <% elsif %>
                    <% event.event.level == 2  %>
                    <%= image_tag "#{event.event.sport}.png", width: 20, height: 20 %>
                    <%= image_tag "#{event.event.sport}.png", width: 20, height: 20 %>
                    <%= image_tag "#{event.event.sport}.png", width: 20, height: 20, class:"level-img-dash" %>
                  <% else  %>
                    <%= image_tag "#{event.event.sport}.png", width: 20, height: 20 %>
                    <%= image_tag "#{event.event.sport}.png", width: 20, height: 20 %>
                    <%= image_tag "#{event.event.sport}.png", width: 20, height: 20 %>
                  <% end %>
                </div>
              </div>
              <div class="text-event-dash">
                  <p><%= event.event.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="d-flex flex-column">
          <h3 class='text-white h3-default text-secondary'>Add events</h3>
          <h1><i class="fas fa-arrow-down text-white m-5 text-secondary"></i></h1>
        </div>
     <% end %>
   <!-- </div> -->
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Localisation</h4>
        <div  class="close-pop-up" data-dismiss="modal">&times;</div>
      </div>
      <div class="modal-body">
        <div
          id="map"
          style="width:100%;
          height: 80vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
    </div>
  </div>
</div>
    <!-- <i class="fas fa-chevron-right text-white"></i> -->
  </div>
  </div>
</div>

<div class= "btn-box sports-box-events">
  <%= link_to "Matching events", matching_events_path, class:"btn btn-flat btn-flat-activity2" %>
</div>
<h2 class="h2_eteint-sport">Your favorite sports</h2>
  <div class="user_activities pl-4 pr-4">
    <div class="container-sports">
      <div class="favorites-sports">
        <% if @fav_sport.length > 0 %>
          <% @fav_sport.each do |sport| %>
            <div class="event_fav_sport">
              <%= image_tag "#{sport}.png", alt: 'box glove',height: 60, width: 60 %>
            </div>
          <% end %>
        <% else %>
          <div class="d-flex flex-column">
            <h3 class='text-white m-3 text-secondary'>Add availabilities</h3>
            <h1><i class="fas fa-arrow-down text-white m-5 text-secondary"></i></h1>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "btn-box sports-">
    <%= link_to "Update Sport", edit_favorite_sports_path, class:"btn btn-flat btn-flat-update-2" %>
  </div>
</div>
  <h2 class="h2_eteint">Your availabilities</h2>
  <div class="user_availability pl-4 pr-4">
    <div class="container-availability">
      <div class="user_activities-schedule">
          <% if @availabilities.length > 0 %>
            <div class="slider">
            <% @availabilities.each do |availability| %>
              <div class="event_fav_availabilities slide">
                <div class="pastille">
                  <span class="pink-circle"></span>
                  <span class="day-available"><%= availability.day_name.capitalize %></span>
                </div>
                <div class="availabities-result" id='special-nikol'>
                  <% if availability.slot_1%>
                    <p>8h - 10h</p>
                  <% end %>
                  <% if availability.slot_2%>
                    <p>10h - 12h</p>
                  <% end %>
                  <% if availability.slot_3%>
                    <p>12h - 14h</p>
                  <% end %>
                  <% if availability.slot_4%>
                    <p>14h - 16h</p>
                  <% end %>
                  <% if availability.slot_5%>
                    <p>16h - 18h</p>
                  <% end %>
                  <% if availability.slot_6%>
                    <p>18h - 20h</p>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="d-flex flex-column text-secondary">
              <h3 class='text-white m-3 text-secondary'>Add availabilities</h3>
              <h1><i class="fas fa-arrow-down text-white m-5 text-secondary"></i></h1>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class= "btn-box sports-">
  <%= link_to "Update Availabilities", edit_availabilities_path, class:"btn btn-flat btn-flat-update-3" %>
</div>
