<h2 class="h2_non_eteint">Your dashboard</h2>
<h2 class="h2_eteint">Your program</h2>
<div class="container dashboard-section pt-5 pb-5">
  <div class="user_activities pl-4 pr-4">
    <i class="fas fa-chevron-left text-white"></i>
    <div class="slider-program">
      <% @user_events.each do |event| %>
        <div class="event_matched_by_user slide">
          <%= image_tag 'boxing-gloves.png', class: "sports-image", alt: 'box glove',height: 30, width: 30 %>
          <span><%= event.event.start_at.strftime("%-d %b") %></span>
          <span class='p-1'><%= event.event.start_at.hour %>h00</span>
        </div>
      <% end %>
    </div>
    <i class="fas fa-chevron-right text-white"></i>
  </div>
  </div>
</div>
<div class= "btn-box sports-box">
  <%= link_to "Search a new activity", root_path, class:"btn btn-flat btn-flat-activity" %>
</div>
<h2 class="h2_eteint-sport">Your favorite sports</h2>
  <div class="user_activities pl-4 pr-4">
    <div class="container-sports">
      <div class="favorites-sports pt-5">
        <% @fav_sport.each do |sport| %>
          <div class="event_fav_sport">
            <%= image_tag 'boxing-gloves.png', alt: 'box glove',height: 80, width: 80 %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "btn-box sports-">
    <%= link_to "Update Sport", root_path, class:"btn btn-flat btn-flat-update-2" %>
  </div>
</div>
  <h2 class="h2_eteint">Your availabilities</h2>
  <div class="user_availability pl-4 pr-4">
    <div class="container-availability">
      <div class="user_activities-schedule">
        <i class="fas fa-chevron-left activity-chevron-left"></i>
        <div class="slider">
          <% @availabilities.each do |availability| %>
            <div class="event_fav_availabilities slide">
              <div class="pastille">
                <span class="pink-circle"></span>
                <span><%= availability.day_name.capitalize %></span>
              </div>
              <div class="availabities-result">
                <% if availability.slot_1%>
                  <p>8h - 10h</p>
                <% end %>
                <% if availability.slot_2%>
                  <p>10h - 12h</p>
                <% end %>
                <% if availability.slot_3%>
                  <p>12h - 14h</p>
                <% end %>
                <% if availability.slot_4%>
                  <p>14h - 16h</p>
                <% end %>
                <% if availability.slot_5%>
                  <p>16h - 18h</p>
                <% end %>
                <% if availability.slot_6%>
                  <p>18h - 20h</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <i class="fas fa-chevron-right activity-chevron-right"></i>
      </div>
      <div class= "btn-box sports-">
        <%= link_to "Update Availabilities", root_path, class:"btn btn-flat btn-flat-update-3" %>
      </div>
    </div>
  </div>
</div>
